@charset "UTF-8";
*{
	margin: 0;
	padding: 0;	
}

 body {
 	text-align: center;;
  	align-items: center;
  	justify-content: center;
    height: 80vh;
  	background-image: url("../images/backG_index.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	align-items: center;
	 font-family: Tahoma, Geneva, sans-serif;
	/* animation:change 30s infinite ease-in-out; */
}

header{
	margin:0px;
	background-color: #54585d;
	color: #fff;
}

h1{
	font-size: 40px;
	
}

input{
	size: 5px;
	color: red;
	background-color: blue;
}

a{
	text-decoration: none;
	font-size: 35px;
	color: white;
	text-align: center;
	background-color: blue;
	border-radius: 5px;
	margin: 4px;
}

a:hover {
  background: orange;
}

table {
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: #54585d;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}